* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(16, 16, 66);
    height: 65vh;
    width: 25vw;
    margin-top: 120px;
    border-radius: 10px;
    
}

.display {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

input {
    width: 265px;
    height: 45px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: rgb(159, 159, 197);
}

.btn1 {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 60px 60px 60px 60px;
    gap: 10px;
    margin-bottom: 80px;
} 

.btn {
    height: 50px;
    width: 60px;
    border-radius: 5px;
    background-color: rgb(35, 35, 97);
    color: wheat;
    box-shadow: 2px 2px 2px 2px black;
    font-size: medium;
    font-weight: 600;
}

.btn:hover {
    background-color: palevioletred;
}


